:root{
    --primary-color: #023f3a;
    --primary-font: "Josefin Sans", sans-serif;
    --secondary-font: "Libre Baskerville", serif;
}

body{
    font-family: var(--primary-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--secondary-font);
}
